/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team{
  background-color: #1b1b47;
}

.team1{
  background-color: #1b1b47;
}

.team1 .member1 {
    text-align: center;
    margin-bottom: 20px;
    background: #343a40;
    position: relative;
    overflow: hidden;
  }
  
  .team1 .member1 .member1-info {
    opacity: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
  }
  
  .team1 .member1 .member1-info-content {
    position: absolute;
    left: 50px;
    right: 0;
    bottom: 0;
    transition: bottom 0.4s;
  }
  
  .team1 .member1 .member1-info-content h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: #fff;
  }
  
  .team1 .member1 .member1-info-content span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #fff;
  }
  
  .team1 .member1 .social {
    position: absolute;
    left: -50px;
    top: 0;
    bottom: 0;
    width: 50px;
    transition: left ease-in-out 0.3s;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  
  .team1 .member1 .social a {
    transition: color 0.3s;
    display: block;
    color: #fff;
    margin-top: 15px;
  }
  
  .team1 .member1 .social a:hover {
    color: #1bac91;
  }
  
  .team1 .member1 .social i {
    font-size: 18px;
    margin: 0 2px;
  }
  
  .team1 .member1:hover .member1-info {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 20%, rgba(0, 212, 255, 0) 100%);
    opacity: 1;
    transition: 0.4s;
  }
  
  .team1 .member1:hover .member1-info-content {
    bottom: 30px;
    transition: bottom 0.4s;
  }
  
  .team1 .member1:hover .social {
    left: 0;
    transition: left ease-in-out 0.3s;
  }